{% extends "base.html" %}
{% block title %}Смена пароля{% endblock %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="button button-action">Сохранить</button>
</form>
{% endblock %}