{% load static %}
  <link rel="stylesheet" href="{% static 'app/styles.css' %}">

<body class="back">
    <h2>Вход в систему управления проектами</h2>
<div class="login-box">
    <form method="post" style="width: 100%">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div style="display: flex; gap: 5px; flex-direction: column; justify-content: center;">
            <div><label for="{{ form.username.id_for_label }}">Логин:</label></div>
            <div>{{ form.username.errors }}</div>
            <div>{{ form.username }}</div>
            <div></div>
            <div><label for="{{ form.password.id_for_label }}">Пароль:</label></div>
            <div>{{ form.password.errors }}</div>
            <div>{{ form.password }}</div>
            <br>
        <button type="submit" class="button button-action">Войти</button>
        </div>


    </form>

      </div>

</body>

