{% extends "base.html" %}
{% block title %} Редактировать проект {% endblock %}
{% block content %}
<h1>Редактировать сведения о проекте</h1>
<form action={{request.path}} method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="button button-action" value="Сохранить">
</form>
{% endblock %}