{% extends "projects/project_detail.html" %}
{% block project_participant_add %}
    <form action="" id="project-participant-add-form" method="post">{% csrf_token %}</form>
    <tr>
        <td>
            <select style="width: 100%" form="project-participant-add-form" name="participant_user_id">
                {% for user_option in project.get_non_participant_users %}
                    <option value="{{user_option.id}}">{{user_option.get_full_name}}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select style="width: 100%" form="project-participant-add-form" name="participant_roles" multiple>
                {% for role in roles %}
                    <option value="{{role.id}}">{{role.name}}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
{% endblock %}
{% block project_participant_add_buttons %}
    <div style="display: flex">
        <input type="submit" form="project-participant-add-form" class="button button-action" value="Сохранить">
        <button class="button button-action" onclick="location.href='{% url 'project-detail' project.id %}'">Отмена</button>
    </div>
{% endblock %}