{% extends "projects/project_detail.html" %}
{% block project_participants_table_row %}
  {% for participant in project.get_participants %}
  {% if participant == edited_participant %}<form id="project-participant-roles-edit-form" method="post">{% csrf_token %}</form>{% endif %}
    <tr>
      <td><a href={% url 'user-detail' participant.user.id %}>{{participant.user.get_full_name}}</a></td>
      <td>
        {% if participant == edited_participant %}
          <select style="width: 100%" form="project-participant-roles-edit-form" name="participant_roles" multiple>
            {% for role in all_possible_roles %}
              {% if role in edited_participant.get_roles %}
                <option value="{{role.id}}" selected>{{role.name}}</option>
              {% else %}
                <option value="{{role.id}}">{{role.name}}</option>
              {% endif %}
            {% endfor %}
          </select>
        {% else %}
          {% for role in participant.get_roles %}
            {{role.name}}<br>
          {% empty %}
              -
          {% endfor %}
        {% endif %}
      </td>
      <td>
        {% if participant == edited_participant %}
          <div style="display: flex; gap: 5px">
            <input type="submit" form="project-participant-roles-edit-form" class="button button-action" value="Сохранить">
          </div>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
{% endblock %}
{% block project_participant_add_buttons %}
{% endblock %}