{% extends "base.html" %}
{% block title %} Список проектов {% endblock %}
{% block content %}
  <h1>Произошла ошибка при попытке завершить проект</h1>

  Следующие задачи в рамках проекта не завершены:

  {% for task in active_tasks %}
    {{task}}<br>
  {% endfor %}

  Проект нельзя завершить, если не завершены все его задачи.<br><br>

  <button class="button button-action" onclick="location.href='{% url 'project-detail' project.id %}'">Вернуться к проекту</button>

{% endblock %}