{% extends "base.html" %}
{% block title %} Сведения о проекте {% endblock %}
{% block content %}
    <h1>Сведения о проекте </h1>

    <div><b>Короткое название проекта:</b> {{project.short_name}}</div>
    <div><b>Полное название проекта:</b> {{project.name}}</div>

    <br>
    {% if project.is_archived %}
        <div><b>Проект завершен</b></div>
    {% endif %}

    <div style="display: flex">
        <button class="button button-action" onclick="location.href='{% url 'project-edit' project.id %}'">Редактировать проект</button>
        {% if project.is_archived %}
            <button class="button button-disabled">Проект завершен</button>
        {% else %}
            <form action="{% url 'project-archive' project.id %}" method="post" id="archive-form">
                {% csrf_token %}
            </form>
         <button class="button button-warning" form="archive-form">Завершить проект</button>
        {% endif %}
    </div>

    <h2>Задачи проекта</h2>
    <button class="button button-action" onclick="location.href='{% url 'project_tasks_list' project.id %}'">Список задач</button>

    <h2>Руководители проекта</h2>
    {% for head_user in project.get_head_users %}
      <a href={% url 'user-detail' head_user.id %}>{{head_user.get_full_name}}</a><br>
    {% empty %}
      <b>Не назначены</b>
    {% endfor %}

    <h2>Участники проекта</h2>
    <table style="width: 100%">
        <tr>
            <th width="25%">Участник</th>
            <th width="40%">Роли</th>
            <th>Действия</th>
        </tr>
        {% block project_participants_table_row %}
        {% for participant in project.get_participants %}
        <tr>
            <td><a href={% url 'user-detail' participant.user.id %}>{{participant.user.get_full_name}}</a></td>
            <td>
                {% for role in participant.get_roles %}
                    {{role.name}}<br>
                {% empty %}
                    -
                {% endfor %}
            </td>
            <td>
                {% if is_manageable %}
                    <div style="display: flex; gap: 5px">
                        <button class="button button-action" onclick="location.href='{% url 'project-participant-roles-edit' project.id participant.id %}'">Редактировать роли участника</button>
                        <form action="{% url 'project-participant-delete' project.id participant.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" class="button button-warning" value="Исключить участника из проекта">
                        </form>
                    </div>
                {% endif %}
            </td>
        </tr>
        {% empty %}
            Ни одного участника в проекте ещё нет
        {% endfor %}
        {% block project_participant_add %} {% endblock %}
        {% endblock %}
    </table>

    <br>

    {% block project_participant_add_buttons %}
    {% if project.get_non_participant_users %}
        <button class="button button-action" onclick="location.href='{% url 'project-participant-add' project.id %}'">Добавить участника в проект</button>
    {% else %}
        <button class="button button-disabled">Все пользователи являются участниками этого проекта</button>
    {% endif %}
    {% endblock %}

{% endblock %}