{% extends "base.html" %}
{% block title %} Список пользователей системы {% endblock %}
{% block content %}
  <h1>Пользователи</h1>

  <form action="{% url 'user-list' %}" class="search-div" method="get">
      <input name="search" type="text" class="search-input" placeholder="Найти пользователя">
      <input type="submit" class="search-button" value="Поиск">
  </form>

  <table width="100%">
    <thead>
      <th>ID</th>
      <th>ФИО</th>
      <th>Логин</th>
      <th>Дата регистрации</th>
      <th>Дата последней активности</th>
      <th>Профиль пользователя</th>
    </thead>

    {% for user in user_list %}
    <tr>
      <td> {{user.id}} </td>
      <td> {{user.get_fio}} </td>
      <td> {{user.username}} </td>
      <td> {{user.date_joined}} </td>
      <td> {{user.last_login|default:"-"}} </td>
      <td> <div class="button-div">
        <button class="button button-action" onclick="location.href='{% url 'user-detail' user.id %}'">Перейти</button>
      </div></td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}