{% extends "base.html" %}
{% block title %} Пользователь {{user.get_full_name}} {% endblock %}
{% block content %}
    <h1>Пользователь {{user.get_full_name}}</h1>

    <div><b>ID пользователя:</b> {{user.id}}</div>
    <br>
    <div><b>Фамилия:</b> {{user.last_name}}</div>
    <div><b>Имя:</b> {{user.first_name}}</div>
    <div><b>Отчество:</b> {{user.second_name}}</div>
    <br>
    <div><b>Дата регистрации:</b> {{user.date_joined}}</div>
    <div><b>Дата последней активности:</b> {{user.last_login}}</div>

    {% if user.id == request.user.id %}
        <button class="button button-action" onclick="location.href='{% url 'user-edit' user.id %}'">Редактировать данные пользователя</button>
    {% endif %}

    <hr>

    <h2> Проекты пользователя </h2>
        <table width="100%">
            <thead>
                <th>Короткое название проекта</th>
                <th>Роли пользователя в проекте</th>
            </thead>

        {% for participant in user.get_participants %}
        <tr>
            <td> <a href="{% url 'project-detail' participant.project.id %}">{{participant.project.short_name}}</a> </td>
            <td>
                {% for role in participant.get_roles %}
                    {{role}}<br>
                {% endfor %}
            </td>

        </tr>
        {% endfor %}
        </table>
    <hr>

    <h2> Задачи пользователя </h2>
    <table width="100%">
        <thead>
            <th>Номер задачи</th>
            <th>Название задачи</th>
            <th>Проект задачи</th>
            <th>Создатель задачи</th>
            <th>Исполнитель задачи</th>
            <th>Статус задачи</th>
        </thead>

        {% for task in user.get_tasks %}
        <tr>
            <td> <a href="{% url 'task-show' task.id %}">{{task.id}}</a> </td>
            <td> <a href="{% url 'task-show' task.id %}">{{task.name}}</a> </td>
            <td> <a href="{% url 'project-detail' task.project.id %}">{{task.project.short_name}}</a></td>
            <td> <a href="{% url 'user-detail' task.task_creator.user.id %}">{{task.task_creator.user.get_full_name}}</a></td>
            <td>
                {% if task.task_executor %}
                    <a href="{% url 'user-detail' task.task_executor.user.id %}">{{task.task_executor.user.get_full_name}}</a>
                {% else %}
                    Не назначен
                {% endif %}
            </td>
            <td>{{task.status}}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}