{% extends "base.html" %}
{% block title %} Редактировать пользователя {% endblock %}
{% block content %}
<h1>Редактировать данные пользователя {{user.get_full_name}}</h1>
<form action={{request.path}} method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="button button-action" value="Сохранить">
</form>
<br>
<a href="{% url 'change-password' %}">Сменить пароль</a>
{% endblock %}