table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
body {
  font-family: "Segoe UI", sans-serif;
}
.header-box {
  display: flex;
  column-gap: 10px;
  margin: 10px;
}
.header-push {
  margin-left: auto;
}
.header-item {

}
.rectangle{
  width: 95%;
  border:1px solid;
  margin: auto auto 20px;
  background: #cfe2f3;
  display: flex;
  justify-content: space-between;
}
.text_center_middle{
  text-align: center;
  line-height: 50px;
}
.back{
  background: #d9d9d9;
}
.search-div {
  display: flex;
  margin: auto auto 20px;
  width: 95%;
  justify-content: flex-end;
}
.search-input {
  width: 50%;
  min-height: 30px;
}
.search-button {
  width: 10%;
  border: 1px solid;
  background: thistle;
  min-height: 30px;
}
.project-detail-div {
  display: inline-block;
  text-align: left;
  padding: 10px 10px 10px 10px;
  line-height: 30px;
}
.button-div {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  text-align: center;
  border: 1px solid;
  margin: auto;
  display: block;
  width: 100%;
  height: 60%;
  min-height: 30px;
  max-height: 30px;
  max-width: 400px;
  background: yellowgreen;
  cursor:pointer;
}
.button-action {
  background: yellowgreen;
}
.button-warning {
  background: indianred;
}
.button-disabled {
  background: darkgrey;
  cursor: not-allowed;
}

.button-send {
  background: #c1b4f8;
  height: 40%;
  max-height: 100px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.info-text-box {
  text-align: center;
  /*border: 1px solid;*/
  margin: auto;
  display: block;
  width: 100%;
  height: 60%;
  min-height: 30px;
  max-height: 60px;
  max-width: 400px;
}

.info-text-box-success {
  color: forestgreen;
}

.info-text-box-failure {
  color: indianred;
}

.comments-box {
  overflow: scroll;
  height: 100%;
}

.comment {
  margin: 5px 5px 10px;
}

.comment-author {
  border:1px solid;
  border-bottom: 0;
  padding: 5px;
  position: relative;
  width: fit-content;
  height: fit-content;
}

.comment-body {

  display: flex;
}

.comment-text {
  border:1px solid;
  border-right: 0;
  padding: 5px;
  width: 80%;
}

.comment-text-add {
  /*width: 75%;*/
  border-right: black;
}

.comment-text-edit {
  height: 95%;
  width: 99%;
  /*padding: 1px;*/
  position: relative;
  resize: none;
}

.comment-time {
  border:1px solid;
  border-left: 0;
  padding: 5px;
  width: fit-content;
}

pre {
  font-family: "Segoe UI", sans-serif;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  /*white-space: -pre-wrap;      !* Opera 4-6 *!*/
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.comment-add-block {
  display: flex;
  margin-top: auto;
}

.comment-user-0 {
  background: lightblue;
}

.comment-user-1 {
  background: #EAD1DC;
}

.comment-user-2 {
  background: #FFF2CC;
}

.comment-user-3 {
  background: snow;
}

.comment-user-4 {
  background: #D9EAD3;
}

.task-rectangle{
  width: 95%;
  border:1px solid;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background: #b6d7a8;
}

.task-type-rectangle{
  width: 25%;
  border:1px solid;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px;
  background: #b6d7a8;
  display: flex;
  justify-content: space-between;
}

.login-box {
  width: 30%;
  top: 40%;
  border:1px solid;
  padding: 10px;
  margin: 10% auto auto;
  background: #cfe2f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap: 100px;
}

.login-box input {
  width: 100%;
  min-height: 30px;
}

.task-description table,
.task-description tr,
.task-description td {
    border: none;
}

