{% extends "tasks/show.html" %}
{% block comments %}
<div>

    {% load static %}
    <form id="comment-edit-form" method="post">{% csrf_token %}</form>

    {% for comment in task.get_comments %}
        <div class="comment">
            <div class="comment-author">
                <a href="#">{{ comment.author.get_full_name }}</a>
            </div>
            <div class="comment-body">
                {% block comment_body %}
                {% if comment.id == edited_comment.id %}
                    <div class="comment-text">
                        <label style="height: 100%; width: 100%">
                            <textarea autofocus
                                      required
                                      form="comment-edit-form"
                                      name="comment-text"
                                      class="comment-text-edit"
                                      onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}"
                                      rows="10">{{edited_comment.text}}</textarea>
                        </label>
                    </div>

                    <div class="comment-time">
                        {{ comment.created|date:"d.m.Y"}} <br>
                        {{ comment.created|time:"H:i"}}
                    </div>

                    <div>
                        <input type="image"
                               src="{% static 'app/img/check_circle_icon.svg' %}"
                               form="comment-edit-form">

<!--                        <a href="{% url 'comment-edit' comment.id %}">-->
<!--                            <img src="{% static 'app/img/check_circle_icon.svg' %}">-->
<!--                        </a>-->
                    </div>

                    <div>
                        <a href="{% url 'task-show' edited_comment.task.id %}">
                            <img src="{% static 'app/img/minus_circle_icon.svg' %}">
                        </a>
                    </div>
                {% else %}
                    <div class="comment-text">
                        <pre>{{ comment.text }}</pre>
                    </div>
                    <div class="comment-time">
                        {{ comment.created|date:"d.m.Y"}} <br>
                        {{ comment.created|time:"H:i"}}
                    </div>
                {% endif %}
                {% endblock %}
            </div>

        </div>
    {% endfor %}
</div>

{% block comment_add %}{% endblock %}

{% endblock %}