{% load static %}
<link rel="stylesheet" href="{% static 'app/styles.css' %}">

<div style="display:flex; flex-direction:column; flex:1; height:100%;">
    <div style="max-height: 500px; overflow-y: scroll">
        {% for comment in task.get_comments %}
        <div class="comment">
            <div class="comment-author comment-user-{{comment.author.background_color}}">
                 <a href="/users/{{comment.author.id}}">{{ comment.author.get_full_name }}</a>
            </div>
            <div class="comment-body">
                {% block comment_body %}
                <div class="comment-text comment-user-{{comment.author.background_color}}">
                    <pre>{{ comment.text }}</pre>
                </div>
                <div class="comment-time comment-user-{{comment.author.background_color}}">
                    {{ comment.created|date:"d.m.Y"}} <br>
                    {{ comment.created|time:"H:i"}}
                </div>

                {% if comment.author == user %}
                    <a href="{% url 'comment-edit' comment.id %}">
                        <img src="{% static 'app/img/edit_icon.svg' %}">
                    </a>
                {% endif %}
                {% endblock %}
            </div>

        </div>
        {% empty %}
            <div style="text-align: center; vertical-align: middle; height: 100%">
                <span style="display: block; position: relative; top: 50%; transform: translateY(-50%);">Комментариев еще нет</span>
            </div>
        {% endfor %}
    </div>

    {% block comment_add %}
        <div class="comment comment-add-block" style="margin-top: auto">
            <div class="comment-text comment-text-add">
                <form id="comment-add-form" action="{% url 'comment-add' task.id %}" method="post">{% csrf_token %}</form>
                        <label style="height: 100%; width: 90%">
                            <textarea required
                                      form="comment-add-form"
                                      name="comment-text"
                                      class="comment-text-edit"
                                      onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}"
                                      rows="10"
                                      placeholder="Введите комментарий"></textarea>
                        </label>
            </div>

            <div style="width: 20%; border: 1px solid">
                <input type="submit" form="comment-add-form" class="button button-send" value="Отправить">
            </div>
        </div>
    {% endblock %}
</div>
