{% extends "base.html" %}
{% block title %} Создание задачи - SOUP {% endblock %}
{% block content %}

<h2>Создание новой задачи</h2>

<form action="create" method="POST">
    {% csrf_token %}
    {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
    {% endif %}
    <table width="100%">
        {% for field in form  %}
        <tr><td>{{ field.errors }}
            {{ field.label_tag }}</td><td>{{ field }}</td></tr>
    {% endfor %}
    </table>

    <br>
    <input type="submit" class="button button-action" value="Создать">
</form>
{% endblock %}