{% extends "base.html" %}
{% block title %} Редактирование задачи - SOUP {% endblock %}
{% block content %}

<h2> Редактирование задачи {{ task.type }}#{{ task.id }} - {{ task.name }} </h2>

<form action="edit" method="POST">
    {% csrf_token %}
    {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
    {% endif %}
    <table width="100%">
    {% for field in form  %}
        <tr>
            <td>{{ field.errors }}
        {{ field.label_tag }} </td>
            <td>{{ field }}</td>
        </tr>
    {% endfor %}
    </table>
    <br>
    <input type="submit" class="button button-action" value="Применить">
</form>
{% endblock %}