{% extends "base.html" %}
{% block title %} Задачи - SOUP {% endblock %}
{% block content %}

<!--TODO: insert search form here-->
    {% if tasks.count > 0 %}
    <h2>Список задач</h2>
    <button class="button button-action" onclick="location.href='/tasks/new'">
        Создать задачу
    </button>
    <br>

    <table width="100%" id="tasks-table">
        <thead>
            <th> Id </th>
            <th> Название </th>
            <th> Автор </th>
            <th> Время создания </th>
            <th> Время изменения </th>
            <th> Плановая дата завершения </th>
            <th> Фактическая дата завершения </th>
            <th> Назначена </th>
            <th> Тип </th>
            <th> Статус </th>
            <th> Приоритет </th>
            <th> Родительская задача </th>
        </thead>
        {% for task in tasks %}
        <tr>
            <td> <a href="/tasks/{{task.id}}"> {{ task.id }} </a> </td>
            <td> <a href="/tasks/{{task.id}}"> {{ task.name }} </a> </td>
            <td> {{ task.task_creator }} </td>
            <td> {{ task.created }} </td>
            <td> {{ task.updated }} </td>
            <td> {{ task.finish_plan_date }} </td>
            <td> {{ task.finish_end_date|default:"-" }} </td>
            <td> {{ task.task_executor }} </td>
            <td> {{ task.type }} </td>
            <td> {{ task.status }} </td>
            <td> {{ task.priority|default:"-" }} </td>
            {% if task.parent_task %}
                <td>  <a href="/tasks/{{task.parent_task.id}}"> {{ task.parent_task }} </a> </td>
            {% else %}
                <td> - </td>
            {% endif %}
            <td>
                <a href="/tasks/{{task.id}}/edit">Редактировать</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% else %}

    <h2> Задач не найдено. ☕</h2>

    {% endif %}
{% endblock %}