{% extends "base.html" %}
{% block title %} Просмотр задачи {% endblock %}
{% block content %}
<div style="background: #cfe2f3; border: 1px solid; padding: 5px">
<h4> <a href="{% url 'project-detail' task.project.id %}">{{task.project}}</a></h4>
<h2> [{{ task.id }}] {{ task.name }} </h2>
<div class="flexbox-container" style="display:flex">
    <div class="sidebar" style="flex:1; margin: 5px; border: 1px solid; background: #F3F3F3">
        {% block comments %}{% include "comments/list.html" %}{% endblock %}
    </div>
    <div class="task-description" style="flex:1; margin: 0 5px 5px;flex-direction: row">
        <h4>Описание</h4>
        <div><pre>{{ task.description }}</pre>  </div>
        <hr>
        <div> Создана {{ task.created }} пользователем <a href="{% url 'user-detail' task.task_creator.user.id %}">{{ task.task_creator.user.get_full_name }}</a></div>
        <h3>Статус: {{task.status}}</h3>
        <table style="border-collapse: collapse; width: 100%; border: 0 none;">
            <tr><td><b>Исполнитель:</b></td><td>{% if task.task_executor.user.id is None %} Не назначен {% else %} <a href="{% url 'user-detail' task.task_executor.user.id %}">{{ task.task_executor.user.get_full_name }} </a> {% endif %}</td></tr>
            <tr><td><b>Приоритет:</b></td><td> {{ task.priority|default:"-" }} </td></tr>
            <tr><td><b>Обновлена:</b></td><td> {{ task.updated }} </td></tr>
            <tr><td><b>Плановая дата завершения:</b></td><td> {{ task.finish_plan_date }} </td></tr>
            <tr><td style="width: 1%; white-space: nowrap;"><b>Фактическая дата завершения:</b></td><td> {{ task.finish_end_date|default:"-" }} </td></tr>
            <tr><td> </td><td> </td></tr>
            <tr><td><b>Родительская задача:</b></td><td>{% if task.parent_task %}<a href="/tasks/{{task.parent_task.id}}">{{ task.parent_task }}</a>{% else %}Отсутствует{% endif %}</td></tr>
        </table>

        <div>
            <b>Связанные задачи:</b>
            <br>
            {% for t in task.linked_tasks.all %}
                <a href="/tasks/{{t.id}}"> {{ t }} </a>
            <br>
            {% endfor %}
        </div>
        <br>

        <div style="display: flex; flex-direction: column; gap: 10px; margin: 10px">
            <button class="button button-action" onclick="location.href='{% url 'task-edit' task.id %}'">Редактировать задачу</button>

            <form id="set-check-failure-form" action="{% url 'task-set-check-failure' task.id %}" method="post">{% csrf_token %}</form>
            <form id="set-check-success-form" action="{% url 'task-set-check-success' task.id %}" method="post">{% csrf_token %}</form>
            <form id="task-close-form" action="{% url 'task-close' task.id %}" method="post">{% csrf_token %}</form>

            {% if not task.is_closed %}
                {% if task.task_executor is None %}
                    <div class="info-text-box info-text-box-failure">Исполнитель не назначен</div>
                {% elif task.task_creator.user == request.user and task.is_checked is None %}
                    <b>Контроль выполнения задачи</b>
                    <div style="display: flex; flex-direction: row">
                        <input type="submit" form="set-check-success-form" class="button button-action" value="Задача выполнена">
                        <input type="submit" form="set-check-failure-form" class="button button-warning" value="Задача не выполнена">
                    </div>
                {% elif task.task_creator.user == request.user and task.is_checked %}
                    <input type="submit" form="task-close-form" class="button button-action" value="Закрыть задачу">
                {% elif task.task_creator.user == request.user and not task.is_checked %}
                    <div style="display: flex; flex-direction: row">
                        <div class="info-text-box info-text-box-failure"><b>Задача не прошла контроль выполнения</b></div>
                    <input type="submit" form="set-check-success-form" class="button button-action" value="Задача выполнена">
                    </div>
                {% elif task.is_checked %}
                    <div class="info-text-box info-text-box-success">Задача прошла контроль выполнения</div>
                {% elif not task.is_checked %}
                    <div class="info-text-box info-text-box-failure"><b>Задача не прошла контроль выполнения</b></div>
                {% else %}
                    <div class="info-text-box">Выполнение задачи не проверялось</div>
                {% endif %}
            {% else %}
                <div class="info-text-box info-text-box-success">Задача закрыта</div>
            {% endif %}

        </div>
    </div>



</div>

</div>

{% endblock %}
