{% extends "base.html" %}
{% block title %} Список задач{% endblock %}
{% block content %}
  <h1>Список задач пользователя {{user.get_full_name}}</h1> 
  <div style="display: flex">
    <button class="button button-action" onclick="location.href='/tasks/new'">Создать задачу</button>  
  </div>
  <br>

  <form action="{% url 'user_tasks_list' user.id %}" class="search-div" method="get">
    <input name="search" type="text" class="search-input" placeholder="Найти задачу">
    <input type="submit" class="search-button" value="Поиск">
  </form>

  <h2>Назначенные задачи</h2> 

  {% for type in task_types %}
    <div class="task-type-rectangle"> 
      {{type}} 
    </div>

    {% for status in task_statuses %}
      <div class="task-rectangle">
      <p>{{status}} </p>
      {% for task in tasks %}

        {% if task.type == type and task.status == status and task.task_executor.user.id == user.id %}
          <div class="rectangle text_center_middle">  
          
          <div class="project-detail-div" style="width: 43%;">
            <a href={% url 'task-show' task.id %}>
              <b>[{{task.id}}]</b> {{ task.name }}
              <br>
            </a>
          </div>

          <div class="project-detail-div" style="width: 13%; text-align: right">
            Исполнитель:
            Дедлайн:
          </div>
      
          <div class="project-detail-div" style="width: 28%;">
            {% if task.task_executor %}
              <a href={% url 'user-detail' task.task_executor.user.id %}>{{task.task_executor.user.get_full_name}}</a><br>
            {% else %}
              <b>Не назначен</b><br>
            {% endif %}
            {{task.finish_plan_date}}<br>
          </div>

          <div class="project-detail-div button-div" style="width: 15%;">
            <button class="button button-action" onclick="location.href='{% url 'task-show' task.id %}'">Перейти</button>
          </div>
        </div>
        {% endif %}
      {% endfor %}
      </div>
    {% endfor %}
  {% empty %}
    <p>There are no tasks.</p>
  {% endfor %}


  <h2>Созданные задачи</h2> 

  {% for type in task_types %}
    <div class="task-type-rectangle"> 
      {{type}} 
    </div>

    {% for status in task_statuses %}
      <div class="task-rectangle">
      <p>{{status}} </p>
      {% for task in tasks %}

        {% if task.type == type and task.status == status and task.task_creator.user.id == user.id %}
          <div class="rectangle text_center_middle">  
          
          <div class="project-detail-div" style="width: 43%;">
            <a href={% url 'task-show' task.id %}>
              <b>[{{task.id}}]</b> {{ task.name }}
              <br>
            </a>
          </div>

          <div class="project-detail-div" style="width: 13%; text-align: right">
            Исполнитель:
            Дедлайн:
          </div>
      
          <div class="project-detail-div" style="width: 28%;">
            {% if task.task_executor %}
              <a href={% url 'user-detail' task.task_executor.user.id %}>{{task.task_executor.user.get_full_name}}</a><br>
            {% else %}
              <b>Не назначен</b><br>
            {% endif %}
            {{task.finish_plan_date}}<br>
          </div>

          <div class="project-detail-div button-div" style="width: 15%;">
            <button class="button button-action" onclick="location.href='{% url 'task-show' task.id %}'">Перейти</button>
          </div>
        </div>
        {% endif %}
      {% endfor %}
      </div>
    {% endfor %}
  {% empty %}
    <p>There are no tasks.</p>
  {% endfor %}

  <br>
  <a href={% url 'task-list' %}>
    К полному списку задач
  </a>
{% endblock %}