{% extends "base.html" %}
{% block title %} Список проектов {% endblock %}
{% block content %}
  <h1>Список проектов</h1>
    <form action="{% url 'project-list' %}" class="search-div" method="get">
      <input name="search" type="text" class="search-input" placeholder="Найти проект">
      <input type="submit" class="search-button" value="Поиск">
    </form>

  {% for project in project_list %}
  <div class="rectangle text_center_middle">
    <div class="project-detail-div" style="width: 43%;">
      <a href={% url 'project-detail' project.id %}>
        <b>[{{project.short_name}}]</b> {{ project.name }}
      </a>
    </div>

    <div class="project-detail-div" style="width: 13%; text-align: right">
      Руководители:
    </div>

    <div class="project-detail-div" style="width: 28%;">
        {% for head_user in project.get_head_users %}
          <a href={% url 'user-detail' head_user.id %}>{{head_user.get_full_name}}</a><br>
        {% empty %}
          <b>Не назначены</b>
        {% endfor %}
    </div>

    <div class="project-detail-div button-div" style="width: 15%;">
      <button class="button button-action" onclick="location.href='{% url 'project-detail' project.id %}'">Перейти</button>
    </div>

  </div>

  {% empty %}
    <p>There are no projects.</p>
  {% endfor %}
  <a href={% url 'project-list' %}>
    К полному списку проектов
  </a>
{% endblock %}