<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Это название страницы. Лучше бы переименовать {% endblock %}</title>
</head>
<header>
  {% load static %}
  <link rel="stylesheet" href="{% static 'app/styles.css' %}">
    <div class="header-box">
        <a href="{% url 'project-list' %}">Проекты</a>
        <a href="{% url 'task-list' %}" class="header-item">Задачи</a>
        <a href="{% url 'user-list' %}" class="header-item">Пользователи</a>
        {% if user.is_admin %}<a href="{% url 'admin:index' %}" class="header-item">Администрирование</a>{% endif %}
        <a href="{% url 'user-detail' request.user.id %}" class="header-item header-push">Профиль {{request.user.username}}</a>
        <a href="{% url 'logout' %}" class="header-item">Выйти</a>
    </div>
</header>
<body class="back">
    {% block content %}
        Это содержимое страницы. Лучше бы переопределить
    {% endblock %}
</body>
</html>