{% extends "base.html" %}

{% block title %} СУП - Домашняя страница {% endblock %}

{% block content %}

    Привет, {{ user.name }}. Это домашняя страница SOUP.

    <br>
    <a href="{% url 'user_tasks_list' user.id %}">Посмотреть мои задачи</a>
    <br>
    <a href="/projects/">Посмотреть мои проекты</a>

{% endblock %}
